{% extends 'base.html.twig' %}

{% block body %}

<link href="{{ asset('css/style.css') }}" rel="stylesheet"/>

<script src="{{ asset('js/emissionSaved.js') }}"></script>

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


<div class="main" style="background-image: url({{ asset('image/default.jpg') }})">





<div class="container h-100" style="margin-top:25px">
                <div class="row h-100">
                    <div class="col-lg-7 my-auto">

                    
                        <div class="header-content mx-auto" style="color:white">
                            <h1 class="mb-5">Toghether we saved <span id="number">{{number}}</span> Kg in C02 Emissions !</h1>
                            <a class="btn btn-primary py-3 px-4 rounded-pill js-scroll-trigger" href="https://scoocs.co/">Join Scoocs !</a>
                        </div>
                    </div>
                    <div class="col-lg-5 my-auto">
                        <div class="device-wrapper">
                            <img src="{{ asset('image/happiness.png') }}" />
                        </div>
                    </div>
                </div>
            </div>
{# <div class="container card" style="width: 18rem;">
<div class="container motto">
              {{ number }} Kg

    </div>
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div> #}

    
    </div>







   
</div>
{% endblock %}
